/*
Theme Name: Storefront Child
Theme URI: https://wp-themes.com/storefront
Author: Ilya
Description: My WordPress Storefront child theme.
Template: storefront
License: GNU General Public License v3
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Version: 1.4.0
Text Domain: storefront-child
*/

/* remove search box */
/*adjusting default margins and paddings*/

@font-face {
	font-family: 'azosans';
	src: url('./font/azosans/AzoSans-Light.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('./font/azosans/AzoSans-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.single-product div.product {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

p {
	margin: 0;
}

.m-auto {
	margin: auto !important;
}

.pt-15 {
	padding-top: 15px !important;
}

hr {
	margin: 10px 0 !important;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
}

.site-header-cart .mini-cart {
	color: #062A40 !important;
	padding: 1em 0;
	text-align: right;
}

.site-header-cart .mini-cart {
	margin-top: 15px;
	font-size: 15px;
	width: 150px
}

.site-header-cart .mini-cart .count {
	margin-right: 0;
	position: absolute;
	background: #000000;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	top: 0px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	color: #fff;
	font-size: 10px;
	right: -5px;
}

.site-header-cart .mini-cart::after {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	line-height: inherit;
	vertical-align: baseline;
	content: "";
	height: 1em;
	float: right;
	line-height: 1.618;
}

.site-header-cart .mini-cart:after {
	text-shadow: 0 0 3px #000000;
	margin-top: -3px;
	color: #ffffff;
	content: "\f291" !important;
}

.filter-wrapper .tab a {
	background-color: #ffffff;
	width: 48%;
	margin: 0;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	letter-spacing: 3px;
	padding: 10px 5px;

	text-transform: uppercase;
	display: inline-block;
	color: #333333;
	cursor: pointer;
}

.filter-wrapper .tab a:first-child {
	margin-right: -4px;
}

.filter-wrapper .tab a.active {
	border: 1px solid transparent;
	border-color: #dee2e6 #dee2e6 #fff;
	margin-bottom: -1px;
	padding-top: 10px;
	width: 49%;
}

.filter-wrapper .tab a:not(.active) {
	border-top: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	width: 47%;
}

.btn-filter {
	margin: 5px 0px !important;
	padding: 10px 10px !important;
	letter-spacing: 1px !important;
	border: 1px solid #dddddd !important;
	text-transform: uppercase;
	width: 48% !important;
	height: auto;
	word-break: break-word;
	border-radius: 20px !important;
	background: #f0f0f0 !important;
	font-weight: bold !important;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.btn-filter:hover {
	background: #fff !important;
	font-weight: bold !important;
}

.hidden-btn-filter {
	width: 0px;
	height: 0px;
	padding: 0 !important;
	opacity: 0;

}

.woo_amc_container_wrap {
	z-index: 99999999 !important;
}

.hidden-btn-filter:focus {
	border: none !important;
}

.btn-filter.active {
	background: #479b47 !important;
	color: #fff;
}

.wpsf-product-price del {
	display: none;
}

#hms_timer {
	margin-left: 5px;
}

.delivery-info-txt {
	margin-bottom: 15px;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 750px;
	}

	.site-header-cart .mini-cart {
		padding: 1.618em 0;
		display: block;
		position: relative;
		background-color: rgba(0, 0, 0, 0);
		height: auto;
		width: auto;
		text-indent: 0;
	}

	.site-header-cart .mini-cart .amount {
		margin-right: 0.327em;
	}

	.header-cart .mini-cart span {
		display: inline;
	}

	.site-header-cart .mini-cart .count {
		font-weight: 400;
		opacity: 1;
		font-size: .875em;
	}

	.sticky .site-header-cart .cart-contents {
		text-align: right !important;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1100px) {
	.container {
		max-width: 1000px;
	}
}

@media (min-width: 1300px) {
	.container {
		max-width: 1250px;
	}
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col-12 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.w-100 {
	width: 100% !important;
}

.text-muted {
	color: #6c757d !important;
}

.text-italic {
	text-transform: italic;
}

.text-underline {
	text-transform: underline;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.no-wrap {
	white-space: nowrap;
}

/* ---- reset ---- */
body {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
	display: block;
	vertical-align: bottom;
	margin-top: -84px;
	position: absolute;
}

/* That's Why Items */

ul.thats-why-items li {
	display: inline-block;
	background-image: url(./images/pill.png);
	background-size: 24px;
	padding: 5px 0px 5px 30px;
	background-position-y: 0;
	background-repeat: no-repeat;
	margin: 0 10px;
	font-size: 12px;
}

ul.thats-why-items li:first-child {
	background-image: url(https://biohackingcore.com/wp-content/uploads/2022/06/TWI3.png);
}

ul.thats-why-items li:nth-child(2) {
	background-image: url(https://biohackingcore.com/wp-content/uploads/2022/06/TWI4.png);
}

ul.thats-why-items li:nth-child(3) {
	background-image: url(https://biohackingcore.com/wp-content/uploads/2022/06/TWI2.png);
}

ul.thats-why-items li:nth-child(4) {
	background-image: url(https://biohackingcore.com/wp-content/uploads/2022/06/TWI1.png);
}

ul.thats-why-items li:nth-child(5) {
	background-image: url(https://biohackingcore.com/wp-content/uploads/2022/06/TWI.png);
}


/* Top Header */
/*.top-header .top-bar-content-section.center .review-container {*/
/*	background: url(http://thenootropicsfactory.com/wp-content/uploads/2021/04/Truck-fixing.png);*/
/*	background-position: 50% 10%;*/
/*    background-size: cover;*/
/*}*/

.top-header .social-icons a {
	transition: all 0.3s ease-in-out;
}

.top-header .social-icons a:hover {
	background-color: #333333;
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.top-header a.facebook {
	background-image: url("./images/facebook.svg");
}

.top-header a.facebook:hover {
	background-image: url("./images/facebook-cc.svg");
}

.top-header a.instagram {
	background-image: url("./images/instagram.svg");
}

.top-header a.instagram:hover {
	background-image: url("./images/instagram-cc.svg");
}

.top-header a.youtube {
	background-image: url("./images/youtube.svg");
}

.top-header a.youtube:hover {
	background-image: url("./images/youtube-cc.svg");
}

.top-header a.twitter {
	background-image: url("./images/twitter.svg");
}

.top-header a.twitter:hover {
	background-image: url("./images/twitter-cc.svg");
}

.top-header a.telegram {
	background-image: url("./images/telegram.svg");
}

.top-header a.telegram:hover {
	background-image: url("./images/telegram-cc.svg");
}

.top-bar-content-section .blog-page span.link-image {
	background-image: url("./images/mmenu-blog.png");
}

ul.top-header-links li.video-page .link-image {
	background-image: url("./images/mmenu-video.png");
}

ul.top-header-links li.guide-page .link-image {
	background-image: url("./images/mmenu-growguide.png");
}

ul.top-header-links li.contact-page .link-image {
	background-image: url("./images/mmenu-support.png");
}

/* Content */
.uabb-tabs > nav ul {
	z-index: 0;
}

/* Breadcrumb */
.woocommerce-breadcrumb .breadcrumb-separator {
	z-index: -1 !important;
}

/* Product Add-To-Cart Button */
.card-product .footer .stats a {
	background-image: url(./images/shopping_cart.png);
}

.card-product .footer .stats a.added {
	background-image: url(./images/shopping_cart_added.png);
}

/* Country Select */
.delivery-time-container .delivery-time .delivery-time-text .flag {
	width: 16px;
	height: 12px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-image: url(./lib/country-select/img/flags.png);
}

.fl-html .image-wrapper img {
	height: 535px;
	object-fit: contain;
	object-position: center;
}

.rtwpvg-images {
	width: 43%;
}

.entry-summary .variations_form .variations,
.summary > .single_variation_wrap {
	display: none !important;
}

.single-product div.product .summary {
	width: 35% !important;
	margin: 0 20px !important;
}

.woo_amc_head {
	padding-top: 50px;
}

.woo_amc_close {
	top: 50px !important;
}

#wpadminbar {
	overflow: hidden;
}

.single-product div.product .woocommerce-tabs {
	padding-top: 40px !important;
}

.site-header-cart .mini-cart .count {
	top: 14px !important;
}

@media only screen and (max-width: 1920px) {
	.single-product div.entry-summary-right {
		min-width: 360px;
		width: 360px !important;
	}

	.single-product div.product .images {
		margin-right: 0px !important;
	}

	.single-product div.product .summary,
	.single-product div.product .images {
		width: calc((100% - 400px) / 2) !important;
	}
}

@media only screen and (max-width: 1399px) {
	body.storefront-secondary-navigation.woocommerce-active .site-header .site-branding {
		width: 200px !important;
		left: 0 !important;
		top: 50%;
	}
}

@media only screen and (max-width: 1200px) {
	.rtwpvg-images {
		width: 40% !important;
	}
}

@media only screen and (max-width: 1199px) {
	.single-product div.entry-summary-right {
		min-width: 260px;
		width: 260px !important;
	}

	.single-product div.product .summary,
	.single-product div.product .images {
		width: calc((100% - 300px) / 2) !important;
	}

	body.single-product h1 {
		font-size: 40px !important;
	}

	body.single-product .site-content {
		font-size: 1.2em;
	}

	.single-product .content-area,
	.single-product .site-main {
		text-align: left !important;
	}

	ul.thats-why-items li {
		font-size: 10px !important;
	}
}

@media only screen and (max-width: 991px) {
	.single-product div.entry-summary-right {
		min-width: 225px;
		width: 225px !important;
	}

	.single-product div.product .summary,
	.single-product div.product .images {
		width: calc((100% - 265px) / 2) !important;
	}

	#hms_timer {
		margin-left: 5px;
	}

	body.single-product h1 {
		font-size: 40px !important;
	}

	body.single-product .site-content {
		font-size: 1.2em;
	}

	body.storefront-secondary-navigation.woocommerce-active .site-header .site-branding {
		width: 120px !important;
	}
}

@media only screen and (max-width: 959px) {
	.storefront-primary-navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	body.storefront-secondary-navigation.woocommerce-active .site-header .site-branding {
		width: 240px !important;
		top: 0px !important;
	}

	#site-navigation {
		max-width: min-content;
		margin: 0;
		order: 1;
	}

	.site-header-cart .mini-cart {
		margin-top: 0 !important;
	}

	.ubermenu-responsive-default.ubermenu-responsive {
		right: 0;
		top: 100%;
		position: absolute;
	}

	.main-navigation ul.menu,
	.main-navigation ul.nav-menu {
		margin-left: 0 !important;
	}

	.ubermenu-responsive-default.ubermenu-responsive .ubermenu-item-level-0 {
		vertical-align: middle !important;
	}

	.ubermenu-responsive-default.ubermenu-responsive .ubermenu-item-level-0:first-of-type {
		min-width: inherit !important;
		width: auto;
	}

	body:not(.rtl) .ubermenu.ubermenu-horizontal .ubermenu-item-level-0:first-child > .ubermenu-target {
		border-left: none !important;
		margin-top: 0 !important;
	}

	.ubermenu-responsive-default.ubermenu-responsive .ubermenu-item-level-0:not(:first-of-type) {
		width: calc((100% - 190px) / 2);
		min-width: inherit !important;
	}

	body.single-product h1 {
		font-size: 32px !important;
	}

	.single-product div.product .entry-summary,
	.single-product .rtwpvg-images {
		width: calc((100% - 293px) / 2) !important;
	}
}

@media only screen and (max-width: 768px) {
	.single-product div.product .entry-summary {
		margin: 20px 0 !important;
	}

	body.single-product h1 {
		font-size: 32px !important;
	}

	body.single-product .site-content {
		font-size: 1em;
	}

	.single-product div.product .entry-summary,
	.single-product div.product .images {
		width: 100% !important;
	}

	.single-product div.entry-summary-right {
		width: 100% !important;
		margin-bottom: 20px;
	}

	.single-product div.product .woocommerce-tabs {
		padding: 0 0px !important;
	}

	body.custom-background {
		background-image: none !important;
	}

}

@media only screen and (max-width: 767px) {
	.site-header .container {
		max-width: 100%;
	}

	.site-header-cart {
		text-align: right;
		position: absolute;
		right: 80px;
		top: 20px;
		margin: 0 !important;
	}

	.site-header-cart .mini-cart .count {
		top: -8px !important;
	}

	.site-header-cart .mini-cart {
		margin-right: 10px;
	}

	.site-header-cart {
		text-align: right;
	}

	.ubermenu-responsive-default.ubermenu-responsive .ubermenu-item-level-0:first-of-type {
		width: 100%;
	}

	body:not(.rtl) .ubermenu.ubermenu-horizontal .ubermenu-item-level-0:first-child > .ubermenu-target {
		border-left: 2px solid #479b47 !important;
	}

	.ubermenu-responsive-default.ubermenu-responsive .ubermenu-item-level-0:not(:first-of-type) {
		width: calc(100% / 2);
	}

	.delivery-time-container {
		padding: 0 !important;
	}
}

@media only screen and (max-width: 479px) {
	.ubermenu-responsive-default.ubermenu-responsive .ubermenu-item-level-0:not(:first-of-type) {
		width: 100%;
	}
}

@media only screen and (max-width: 399px) {
	.delivery-time-container {
		margin-left: 0 !important;
	}

	.site-header-cart {
		right: 50px;
	}

	.delivery-time-container .delivery-time {
		min-width: 140px !important;
	}

	.ubermenu-skin-clean-white.ubermenu-responsive-toggle {
		padding-right: 0 !important;
	}
}

.product-type-variable .entry-summary h1 + p.price {
	display: none !important;
}

.product-type-variable .entry-summary form.cart {
	padding: 0 !important;
	margin: 0 !important;
}